In [1]:
import keepdb

import pandas as pd
import pyarrow as pa
import seaborn as sns

import tempfile

In [39]:
def pd2pa(x):
    if isinstance(x, pa.Table):
        return x
    else:
        return pa.Table.from_pandas(x, preserve_index=False)

def pa2pd(x):
    if isinstance(x, pd.DataFrame):
        return x
    elif isinstance(x, pa.Table):
        return x.to_pandas()
    else:
        raise ValueError(f'Unrecognized type: {type(x)}')

In [61]:
a = dfict['diamonds']
b = pd2pa(a)
c = pa2pd(b)

In [85]:
import pyarrow.parquet as pq
import zipfile
import io

In [83]:
def table_to_parquet_bytes(table, compression='brotli'):
    b = io.BytesIO()
    pq.write_table(table, b, compression=compression)
    return b.getvalue()

In [93]:
filename = 'bah.zip'

out = {}
with zipfile.ZipFile(filename, 'r') as z:
    for name in z.namelist():
        data = z.read(name)
        data = io.BytesIO(data)
        table = pq.read_table(data)
        assert name.endswith('.parquet')
        name = name[:-8]
        out[name] = table

In [80]:
filename = 'bah.zip'

with zipfile.ZipFile(filename, 'w', compression=zipfile.ZIP_DEFLATED, compresslevel=9) as z:
    z.writestr(f'some_table.parquet', table_to_parquet_bytes(b))

In [75]:
with zipfile.ZipFile(filename, 'w', compression=zipfile.ZIP_DEFLATED, compresslevel=9) as z:
    with tempfile.NamedTemporaryFile() as f:
        pq.write_table(b, f)
        z.write(f.name, arcname='some_table.parquet')

In [72]:
z.write?

Signature: z.write(filename, arcname=None, compress_type=None, compresslevel=None)
Docstring:
Put the bytes from filename into the archive under the name
arcname.
File:      ~/.pyenv/versions/3.11.2/lib/python3.11/zipfile.py
Type:      method

In [48]:
pd.testing.assert_frame_equal(
    a,
    c,
    check_dtype = True
)

In [47]:
a == c

       carat   cut  color  clarity  depth  table  price     x     y     z
0       True  True   True     True   True   True   True  True  True  True
1       True  True   True     True   True   True   True  True  True  True
2       True  True   True     True   True   True   True  True  True  True
3       True  True   True     True   True   True   True  True  True  True
4       True  True   True     True   True   True   True  True  True  True
...      ...   ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   True  True   True     True   True   True   True  True  True  True
53936   True  True   True     True   True   True   True  True  True  True
53937   True  True   True     True   True   True   True  True  True  True
53938   True  True   True     True   True   True   True  True  True  True
53939   True  True   True     True   True   True   True  True  True  True

[53940 rows x 10 columns]

In [45]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [34]:
to_pyarrow(dfict['diamonds']).to_pandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [26]:
out = pa.Table.from_pandas(dfict['diamonds'], preserve_index=False)

In [27]:
out = pa.Table.from_pandas(out, preserve_index=False)

AttributeError: 'list' object has no attribute 'is_unique'

In [2]:
keepdb.__version__

'0.0.42'

In [3]:
f = tempfile.TemporaryFile()

In [4]:
keys = [
    'diamonds',
    'car_crashes',
]

dfict = {
    k: sns.load_dataset(k)
    for k in keys
}

In [5]:
keepdb.dfs_to_zip(f, dfict)

In [6]:
dfict2 = keepdb.zip_to_dfs(f)

In [7]:
dfict['diamonds'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [8]:
pa.Table.from_pandas(dfict['diamonds']).to_pandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [9]:
dfict2['diamonds'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  Float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  Float64
 5   table    53940 non-null  Float64
 6   price    53940 non-null  Int64
 7   x        53940 non-null  Float64
 8   y        53940 non-null  Float64
 9   z        53940 non-null  Float64
dtypes: Float64(6), Int64(1), category(3)
memory usage: 3.4 MB

In [21]:
dfict.keys() == dfict2.keys()

True

In [10]:
pd.testing.assert_frame_equal(dfict2['diamonds'], dfict['diamonds'], check_dtype=False)

In [11]:
a = dfict2['diamonds']['carat'].dtype

In [12]:
a

Float64Dtype()

In [13]:
b = dfict['diamonds']['carat'].dtype

In [14]:
b

dtype('float64')

In [15]:
f = tempfile.NamedTemporaryFile()

In [16]:
f.name

'/var/folders/28/s847xzn910qf6n5lpdmw9z7c0000gn/T/tmpg2ufn1n8'

In [17]:
keepdb.dfs_to_zip(f.name, dfict)

In [18]:
dfict2 = keepdb.zip_to_dfs(f.name)

In [19]:
pd.testing.assert_frame_equal(dfict2['diamonds'], dfict['diamonds'], check_dtype=False)