In [1]:
import keepdb

import pandas as pd
import pyarrow as pa
import seaborn as sns

import tempfile

In [34]:
to_pyarrow(dfict['diamonds']).to_pandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [26]:
out = pa.Table.from_pandas(dfict['diamonds'], preserve_index=False)

In [27]:
out = pa.Table.from_pandas(out, preserve_index=False)

AttributeError: 'list' object has no attribute 'is_unique'

In [2]:
keepdb.__version__

'0.0.42'

In [3]:
f = tempfile.TemporaryFile()

In [4]:
keys = [
    'diamonds',
    'car_crashes',
]

dfict = {
    k: sns.load_dataset(k)
    for k in keys
}

In [5]:
keepdb.dfs_to_zip(f, dfict)

In [6]:
dfict2 = keepdb.zip_to_dfs(f)

In [7]:
dfict['diamonds'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [8]:
pa.Table.from_pandas(dfict['diamonds']).to_pandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [9]:
dfict2['diamonds'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  Float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  Float64
 5   table    53940 non-null  Float64
 6   price    53940 non-null  Int64
 7   x        53940 non-null  Float64
 8   y        53940 non-null  Float64
 9   z        53940 non-null  Float64
dtypes: Float64(6), Int64(1), category(3)
memory usage: 3.4 MB

In [21]:
dfict.keys() == dfict2.keys()

True

In [10]:
pd.testing.assert_frame_equal(dfict2['diamonds'], dfict['diamonds'], check_dtype=False)

In [11]:
a = dfict2['diamonds']['carat'].dtype

In [12]:
a

Float64Dtype()

In [13]:
b = dfict['diamonds']['carat'].dtype

In [14]:
b

dtype('float64')

In [15]:
f = tempfile.NamedTemporaryFile()

In [16]:
f.name

'/var/folders/28/s847xzn910qf6n5lpdmw9z7c0000gn/T/tmpg2ufn1n8'

In [17]:
keepdb.dfs_to_zip(f.name, dfict)

In [18]:
dfict2 = keepdb.zip_to_dfs(f.name)

In [19]:
pd.testing.assert_frame_equal(dfict2['diamonds'], dfict['diamonds'], check_dtype=False)